<% layout('layots/boilerplate') %>



<div class="row">
    <div class="col-6  offset-4">
      <div class="card" style="width: 18rem">
        <img src="<%= campground.image %>" class="card-img-top" alt="photo" >
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text">
            <%= campground.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= campground.location %></li>
          <li class="list-group-item  text-muted"> $<%= campground.price %>/night</li>
          
        </ul>
        <div class="card-body">
            <form   class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
            </form>
          
          <a class="btn btn-primary"  href="/campgrounds/<%=campground._id%>/edit" class="card-link">Edit Campground</a>
          
          <div class="card-footer text-muted">
              2 Days ago
          </div>
        </div>
      </div>
         
     
        <form action="/campgrounds/<%=campground._id%>/reviews" class="mb-3"  method="POST">
          
          <div class="mb-3">
            <label class="form-control" for="rating"> rating</label>
            <input  class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
           </div>


` 
          <div class="mb-3">
            <label class="form-control" for="body"> Review</label>
            <textarea name="review[body]" class="form-control"id="body" cols="30" rows="3"></textarea>
           </div>
            <button class="btn btn-success" type="submit">submit</button>
        </form>
      

    </div>
  </div>

 

 
