<% layout('layots/boilerplate') %> 
   
    
  

    
<div class="row">


    <h1 class="text-center"> Edit Campground</h1>

    <div class="col-6 offset-3">
 
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate  class="needs-validation"  enctype="multipart/form-data">
     
            <div class="mb-3">
             <label class="form-label" for="title">Title</label>
              <input class="form-control" type="text"  id ="title" name="campground[title]" required  
              value="<%= campground.title %>">
            </div>

            

               <div class="mb-3">
                <label class="form-label" for="location">location</label>
                 <input class="form-control" type="text"  id ="location" name="campground[location]" required  
                  value="<%= campground.location %>">
               </div>
               
               <div class="mb-3">
                <label class="form-label" for="price">Camground Price</label>
             

               <div class="input-group ">
                <span class="input-group-text" id="price">$</span>
                <input type="text" class="form-control" placeholder="0" id="price" aria-label="price" aria-describedby="price" name="campground[price]"required  
                 value="<%= campground.price %>">

              </div>
            </div>

               <div class="mb-3">
                <label class="form-label" for="description">description</label>
                <textarea  class="form-control" type="text"  id ="description" name="campground[description]"  required  
                 >  <%= campground.description %> </textarea>
               </div>
    
               <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add Images</label>
                <input class="form-control" type="file" id="image"  name="image" multiple>
              </div>

              <div class="mb-3">
                  <% campground.images.forEach(function(img,i){%>
                    <img src="<%=img.thumbnail%>"  class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                      
                       <input type="checkbox" name="deleteImages[]" id="image-<%=i%>"   value="<%=img.filename%>">
                   </div>
                   <label for="image-<%=i%>">Delete?</label>

                  <%} )%> 
              </div>

               <div class="mb-3">
                <button class="btn btn-success" type="submit">Save Campground</button>
    </div
        </form>
        <a href="/campgrounds">Back to Campground</a>
    </div>

    
</div>






   


  




